* {
  margin: 0;
}

body {
  min-height: 100vh;
}

html {
  font-size: 1rem;
}

.board-container {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  width: 80vh;
  height: 70vh;
  border: 1px solid black;
}

.board__tile {

}

.board--top-left {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
/* background: no-repeat center/80% url('../assets/triangle.svg'); */

.board--top-center {
  border-bottom: 1px solid black;
  /* background: no-repeat center/80% url('../assets/triangle.svg'); */
}

.board--top-right {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.board--middle-left {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.board--middle-center {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.board--middle-right {
  border-bottom: 1px solid black;
}

.board--bottom-left {
  border-right: 1px solid black;
}
.board--bottom-center {
  border-right: 1px solid black;
}

.board--bottom-right {

}

.display{
  /* border: 1px solid black; */
  width: 60%;
  height: 6rem;
}

.display__inner{

}

.display__text{
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.scoreboard{
  /* border: 1px solid black; */
  height: 6rem;
  width: 12rem;
  margin: 0 4rem;
}

.scoreboard__title{
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}

.scoreboard__text{
  text-align: center;
  margin-top: 1rem;
  font-size: 2.5rem;
}

.scoreboard__text--playerone{
  
}

.scoreboard__text--playertwo{

}


.modeSelect{
  margin: auto;

	font-size: 16px;
}

modeSelect__text{

}

modeSelect__human-button{

}

.modeSelect__computer-button{

}

.markerSelect{
  margin: auto;

}

.markerSelect__text{

}

.markerSelect__button{

}

.markerSelect__button--x{

}

.markerSelect__button--o{

}

.markerSelect__button--triangle{

}

.markerSelect__button--diamond{

}

.firstTurnSelect{
  margin: auto;

}

.firstTurnSelect__text{

}

.firstTurnSelect__button{

}

.firstTurnSelect__button--playerone{

}

.firstTurnSelect__button--playertwo{

}

.firstTurnSelect__button--random{

}

.continueModal{
  margin: auto;
  text-align: center;
}

.continueModal__text{
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.continueModal__ok-button{

}


